*{
  padding: 0;
  margin: 0
}



body {
  font-family: "Roboto", sans-serif;
}
{/*#272727*/}
.nav-bar{
  background-color: #CC0033;
  width: 100%;
  height: 12.5vh;
  float: left;
  display: flex;
  position: fixed;
}

.menu-space{
width:8%;
height: 20%;
padding: 4%;
margin-top:2%;
margin-left: 1%;
margin-right: 1%;
background-color:#272727;
}

.search-bar{
  width:70%;
  margin-top:2%;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  color:ghostwhite;
  height: 7vh;
  background-color: #A00028;
}

.search-bar:focus{
  border:solid #A00028 ;
}

.search-icon{
  width: 30px;
  padding: 4%;
  height: 30px;
}

.light-red{
  width: 100%;
  height: 8vh;
  background-color: #A00028
}
.article{
  background-image: url("images/B&W_bg.jpg");
  max-width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  height: 50vh;
  background-attachment:scroll;
}

#article-head{
  color: white;
  line-height: 2.5rem;
  margin:3%;
  font-size: 30px;
  margin-left: 3%;
}
.mobile-text{
  color:lightgrey;
  font-family: Roboto, italic;
  text-align: justify;
  margin-left: 2%;
  width: 60vw;
  font-size: 12px;
  display: block;
}

.tablet-text{
  width: 80%;
}

.peak-img{
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.light_blue{
  background-color: #35D3B4;
  margin: 2%;
}

.dark_blue{
  background-color: #1B2191;
  margin: 2%;
}
.dark_pink{
  background-color: #D822EE;
  margin: 2%;
}
.dark_sky{
  background-color: #057BAD;
  margin: 2%;
}

.grid-display{
  display: grid;
  margin:6%;
  padding: 3%;
 }
.all-grid{
  height: 4vh;
  width: 90%;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 3%;
}

.footer{
  background-color: #272727;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  height: 40vh;
  display: block;
}

.foo-list{
  list-style-type: none;
  margin: 2%;
  padding: 0.9%;
  margin-top:10%;

}

.foo-head{
  color: white;
  font-family: italic;
  margin-left: 20%;
  margin-right: 20%;
}

.foo-text{
  color: lightgrey;
  font-family: italic;
  margin-left: 20%;
  margin-right: 20%;
}




{/*Breakpoints with media queries for responsive changes*/}
@media screen and (max-width:449px){
  .tablet-text{
    display: none;
  }
}

@media screen and (min-width:451px) and (max-width:760px) {
  .menu-space{
  margin-bottom: 10%;
  padding: 3%;
  height: 4px;
  }
  .mobile-text{
    margin-right: 40%;
  }



.peak-img{
  width:43vw;
  float: right;

}

.article{
  display: block;
  width: 100%;
}


.grid-display{
  display: flex;
  flex-wrap: wrap;
  margin-top: 14%;
}

.all-grid{
  width: 40%;
  height: 15vh;
  border-radius: 0;
}
.dark_sky{
  display: none;
}

.footer{
  height: 60vh;
  display: flex;
  padding: 5%;
  height: 30vh;
}

.foo-text{
  margin-left: 0;
  margin-right: 0;
  text-align: justify;

}

.foo-head{
  margin-left: 0;
  margin-right: 0;
  text-align: justify;

}



}

@media screen and (min-width:761px){
  .menu-space{
  height: 43px;
  padding: 0;
  }

  .search-bar{
    width:55%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color:ghostwhite;
    height: 6vh;
    background-color: #A00028;
  }


  .search-icon{
    width: 30px;
    padding: 0;
    margin-right:15%;
    margin-top:2.6%;
    height: 30px;
  }

  #article-head{
    line-height: 3rem;
    margin-top:3%;
    font-size: 40px;
  }

  .mobile-text{
    margin-right: 40%;
    font-size: 17px;
    text-align: justify;
  }


  .peak-img{
    width: 30vw;
    float: right;
    margin-top:4%;
    margin-right: 0;
  }

  .article{
    max-width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
  }


.grid-display{
  display: flex;
  flex-wrap: wrap;
  height: 35vh;
  margin:0;
  padding: 0;
}

.all-grid{
  width: 25%;
  height: 25vh;
  border-radius: 0;
  padding: 0;
  margin-bottom: 5%;
}

/* .grid-display{
  display: grid;
  margin:6%;
  padding: 3%;
 }
.all-grid{
  height: 4vh;
  width: 90%;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 3%;
} */





.dark_sky{
  display: none;
}

.footer{
  height: 60vh;
  display: flex;
  padding: 5%;
  height: 30vh;
}

.foo-text{
  margin-left: 0;
  margin-right: 0;
  text-align: justify;

}
.foo-list{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.foo-head{
  margin-left: 0;
  margin-right: 0;
  text-align: justify;

}

}
